.sender-me {
  border-radius: 10px;
  align-self: flex-end;
  max-width: 80%;
  background-color: #00cc99;
  color: black;
  margin: 3px;
  padding: 5px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

/* .sender-other {
  border-radius: 25px;
  background-color: white;
  color: black;
  align-self: flex-start;
  width: fit-content;
} */

.message-date {
  width: fit-content;
  color: #737373;
  font-size: 0.9rem;
  white-space: nowrap;
}

.message-data {
  padding: 5px;
}