.register {
  height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  border: 3px solid red;
}

.register-field {
  display: flex;
  
}