.login {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background-image: url('/images/wallpaper.jpeg');
  background-position: center;
  background-size: cover;
}

.login-container {
  margin: 15% 0;
  width: 70%;
  height: 50%;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  color: #00e6b8;
}

form {
  height: 100%;
}

.login-form {
  border-radius: 5px;
  box-shadow: 0 0 30px #00e6b8;
  border: 2px solid #00e6b8;
  /* background-color: #09a3b0; */
  color: white;
}

.login-credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.login-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  border: 2px solid #00e6b8;
  border-radius: 5px;
  width: 80%;
}

.invalid-input {
  border: 2px solid #ff4d4d;
}

.login-label {
  font-size: 1.2rem;
}

.login-button {
  width: 20%;
  border: 1px solid #00e6b8;
  border-radius: 20px;
}

.login-button:hover {
  box-shadow: 0 0 20px #00e6b8;
}

.login-input:focus {
  box-shadow: 0 0 20px #00e6b8;
}